{% extends 'base.html' %} {% block content %}

<div class="author-list-container">
  <h1>Authors ({{ numbers_of_authors }})</h1>
  <form method="POST" action="" class="search-bar">
    {% csrf_token %}
    <input required type="text" name="author" placeholder="Enter Author name" value="{{ search_item }}" />
    <button type="submit">search</button>
  </form>

  <div class="author-list">
    <ul>
      {% for author in authors %}
      <li><a href="{{ author.get_absolute_url }}">{{ author }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
