<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Library</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <nav>
      <ul class="nav__directory">
        <li><a href="{% url 'index' %}">Digi-Library</a></li>
        <li><a href="{% url 'index' %}">Catalog</a></li>
        <li><a href="{% url 'author-list' %}">Authors</a></li>
      </ul>
      <ul class="nav__authentication">
        <li>Login</li>
        <li>Sign Up</li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
