{% extends 'base.html' %} {% block content %}
<section class="intro-text">
  <p>Welcome to Digital Library</p>
  <p>All Books: <strong>{{ num_books }}</strong></p>
</section>

<section class="top-reads">
  {% for book in books %}
  <a href="{{ book.get_absolute_url }}">
    <div class="book">
      <img class="book-image" src="{{ book.image }}" />
      <h3 class="book-title">{{ book.title }}</h3>
      <h3 class="book-ratings">Ratings: ⭐⭐⭐⭐</h3>
    </div>
  </a>
  {% endfor %}
</section>

{% if not request.user.is_authenticated %}
<div id="regModal" class="modal">
  <div class="modal-body">
    <button class="close">Close</button>
    <p>
      Hello there! <br />
      You've visted this website {{ num_visits }} times. Signup today for better experience.
    </p>
  </div>
</div>
{% endif %} {% endblock %}

<!---->
{% block script %}
<script>
  const modal = document.querySelector("#regModal");
  const modalCloseButton = document.querySelector(".close");

  // When the user clicks the close button
  modalCloseButton.addEventListener("click", function () {
    modal.style.display = "none";
  });
</script>

{% endblock %}
