@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 20px;
}

nav {
  background-color: rgb(23, 23, 255);
  height: 80px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__directory {
  margin-left: 50px;
}

.nav__authentication {
  margin-right: 50px;
}
nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.intro-text {
  padding: 30px;
}

.top-reads {
  margin: 0 0 30px 0;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.book {
  display: flex;
  width: 200px;
  flex-direction: column;
  box-shadow: 0 0 8px 4px gray;
}

.book-title {
  padding: 5px;
  flex-wrap: wrap;
}

.book-ratings {
  padding: 5px;
}

.book-image {
  width: 200px;
  height: 250px;
  object-fit: contain;
}
