@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 20px;
}

nav {
  background-color: rgb(23, 23, 255);
  height: 80px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__directory {
  margin-left: 50px;
}

.nav__authentication {
  margin-right: 50px;
}

.nav__authentication > li {
  background-color: white;
  color: blue;
  padding: 8px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.intro-text {
  padding: 30px;
}

.top-reads {
  margin: 0 0 30px 0;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.book {
  display: flex;
  width: 200px;
  flex-direction: column;
  box-shadow: 0 0 8px 4px gray;
}

.book-title {
  padding: 5px;
  flex-wrap: wrap;
}

.book-ratings {
  padding: 5px;
}

.book-image {
  width: 200px;
  height: 250px;
  object-fit: contain;
}

.book-detail-info-container {
  margin: 40px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.book-detail--image {
  height: 512px;
  width: 459px;
  object-fit: contain;
}

.book-detail--content {
  flex-basis: 1000px;
}
.book-detail--description {
  margin-top: 30px;
}

.book-detail--action {
  margin-top: 30px;
  display: flex;
}

.book-detail--action > button {
  padding: 10px 20px;
  border: 2px solid #84ab84;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #84ab84;
}

.book-detail--reviews {
  margin-top: 30px;
}

/** AUTHOR LIST */
.author-detail-container,
.author-list-container {
  margin: 40px 40px;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar > input {
  padding: 8px 20px;
  border: 2px solid gray;
}

.search-bar > button {
  padding: 8px 20px;
  background-color: blue;
  border: none;
  color: #f2f2f2;
}

.author-list {
  margin: 30px;
}

.author-list > ul {
  font-size: 1.3em;
  color: darkblue;
}

.author-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.author-detail--image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 0 8px 4px gray;
}

.author-detail--info {
  flex-basis: 1000px;
}

.author-detail--bio {
  margin: 20px 0;
}

.author-books {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  margin-bottom: 25px;
}
.author-book--image {
  height: 100px;
  width: 80px;
  object-fit: contain;
}
