@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 20px;
}

nav {
  background-color: rgb(23, 23, 255);
  height: 80px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__directory {
  margin-left: 50px;
}

.nav__authentication {
  margin-right: 50px;
}

.nav__authentication > li {
  background-color: white;
  color: blue;
  padding: 8px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.intro-text {
  padding: 30px;
}

.top-reads {
  margin: 0 0 30px 0;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.book {
  display: flex;
  width: 200px;
  flex-direction: column;
  box-shadow: 0 0 8px 4px gray;
}

.book-title {
  padding: 5px;
  flex-wrap: wrap;
}

.book-ratings {
  padding: 5px;
}

.book-image {
  width: 200px;
  height: 250px;
  object-fit: contain;
}

.book-detail-info-container {
  margin: 40px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.book-detail--image {
  height: 512px;
  width: 459px;
  object-fit: contain;
}

.book-detail--content {
  flex-basis: 1000px;
}
.book-detail--description {
  margin-top: 30px;
}

.book-detail--action {
  margin-top: 30px;
  display: flex;
}

.book-detail--action > button {
  padding: 10px 20px;
  border: 2px solid #84ab84;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #84ab84;
}

.book-detail--reviews {
  margin-top: 30px;
}

/** AUTHOR LIST */
.author-detail-container,
.author-list-container {
  margin: 40px 40px;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar > input {
  padding: 8px 20px;
  border: 2px solid gray;
}

.search-bar > button {
  padding: 8px 20px;
  background-color: blue;
  border: none;
  color: #f2f2f2;
}

.author-list {
  margin: 30px;
}

.author-list > ul {
  font-size: 1.3em;
  color: darkblue;
}

.author-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.author-detail--image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 0 8px 4px gray;
}

.author-detail--info {
  flex-basis: 1000px;
}

.author-detail--bio {
  margin: 20px 0;
}

.author-books {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  margin-bottom: 25px;
}
.author-book--image {
  height: 100px;
  width: 80px;
  object-fit: contain;
}

/** MODAL **/
.modal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 600px;
  max-width: 90%;
  overflow: hidden;
  max-height: 80%;
  border: 1px solid gray;
  margin: 15% auto;
  background-color: #f2f2f2;
  animation: animatemodal 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animatemodal {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

.close {
  padding: 10px;
  border: 1px solid grey;
  font-size: 16px;
  align-self: flex-end;
  background-color: wheat;
}

/** AUTHENTICATION CONTAINER **/

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto 0 auto;
  width: 300px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-group {
  margin: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(23, 23, 255);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.form-error {
  padding: 10px;
  background-color: indianred;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 90%;
  align-self: center;
  margin-top: 5px;
}

.forgot-password,
.login-link {
  font-size: large;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: darkblue;
}

.login-link {
  margin-top: 10px;
}
